<!DOCTYPE HTML>
<html>
  <head>
    <title>Hello World! Site Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="mon_script.js"></script>
  </head>
  <body>
    <h1>Hello World!</h1>

    <button id="myButtonId" class="btn btn-primary" type="submit">Button</button>
    
    <div class="form-group">
      <label for="textareaId">Results</label>
      <textarea class="form-control rounded-0" id="textareaId" rows="10"></textarea>
    </div>

  </body>
</html>