<!DOCTYPE HTML>
<html>
<head>
  <title>Hello World! Site Title</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/vApp.css">
  <script src="displayProductController.js"></script>
</head>
<body>
  <h1>Product Sequence Information</h1>
  <a href="index.html">All product</a>

  <div class="form-group">
    <label for="product">Product</label>
    <input type="text" id="product">

    <label for="quantity">Quantity</label>
    <input type="text" id="quantity">

    <label for="manufacturer">Manufacturer</label>
    <input type="text" id="manufacturer">

    <label for="delivery_date">Delivery date</label>
    <input type="text" id="delivery_date">
    
    <table id="myTable" style="border: 1px solid black">
        <thead>
          <th>id</th><th>product_id</th><th>product</th><th>manufacturer</th><th>begin_data</th><th>end_date</th><th>quantity</th><th>of</th><th>delivery_date</th><th>pere</th>
        </thead>
      </table>
  </div>

</body>
</html>